// ==========================================================================
// #Base: Global
// ==========================================================================

html,
body,
#__next {
    @apply h-full
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    background-color: #f9fafe;
    font-family: 'Montserrat', sans-serif;
}