// ==========================================================================
// # Button
// ==========================================================================
//
// Table of Content
//
// - Size
// - Kind: Solid, Outline, Ghost
//


// TODO: Swap any colors to use proper tailwindcss config e.g. bg-indigo-600 should be bg-brand-600
// TODO: Make button text dynamic

.button {
    color: white;
    padding: 10px 21px;
    font-weight: bold;
    border-radius: 30px;

    &.button-md {

    }

    &-solid {
        &.button-primary {
            // bg-brand-600
            @apply 
            bg-indigo-600
        }
    
        &.button-secondary {
            @apply 
            bg-pink-600
        }

        &.button-link {
            
        }

        &.button-success {
    
        }

        &.button-warning {
            
        }
    
        &.button-danger {
    
        }

        &.button-info {
    
        }

    }

    &-outline {
        &.button-link {
            
        }

        &.button-primary {
            @apply
            border 
            border-indigo-600
            text-indigo-600
        }

        &.button-secondary {
            @apply
            border 
            border-pink-600
            text-pink-600
        }

        &.button-warning {
            
        }
    
        &.button-danger {
    
        }

        &.button-info {
    
        }

    }

    &-ghost {
        &.button-link {
            
        }

        &.button-success {
    
        }

        &.button-warning {
            
        }
    
        &.button-danger {
    
        }

        &.button-info {
    
        }
    }

}