// ==========================================================================
// # Button
// ==========================================================================
//
// Table of Content
//
// - Size
// - Kind: Solid, Outline, Ghost
//


// TODO: Swap any colors to use proper tailwindcss config e.g. bg-indigo-600 should be bg-brand-600
// TODO: Make button text dynamic

.button {
    color: white;
    padding: 10px 21px;
    font-weight: bold;
    border-radius: 30px;

    &.button-md {

    }

    &-solid {
        &.button-primary {
            // bg-brand-600
            @apply 
            bg-indigo-600
        }
    
        &.button-secondary {
            @apply 
            bg-pink-600
        }

        &.button-link {
            
        }

        &.button-success {
            @apply 
            bg-green-600
        }

        &.button-warning {
            @apply 
            bg-yellow-300 
            text-black
        }
    
        &.button-danger {
            @apply 
            bg-red-600
        }

        &.button-info {
            @apply 
            bg-blue-600
        }

    }

    &-outline {
        &.button-link {
            
        }

        &.button-primary {
            @apply
            border 
            border-indigo-600
            text-indigo-600
        }

        &.button-secondary {
            @apply
            border 
            border-pink-600
            text-pink-600
        }

        &.button-warning {
            @apply
            border 
            border-yellow-300
            text-black
        }
    
        &.button-success {
            @apply
            border 
            border-green-600
            text-green-600
        }

        &.button-danger {
            @apply
            border 
            border-red-600
            text-red-600
        }

        &.button-info {
            @apply
            border 
            border-blue-600
            text-blue-600
        }

    }

    &-ghost {
        &.button-primary {
            // bg-brand-600
            @apply 
            text-indigo-600
            hover:bg-indigo-200
        }
    
        &.button-secondary {
            @apply 
            text-pink-600
            hover:bg-pink-200
        }

        &.button-link {
            
        }

        &.button-success {
            @apply 
            text-green-600
            hover:bg-green-200
        }

        &.button-warning {
            @apply 
            text-yellow-300 
            text-black
            hover:bg-yellow-200
        }
    
        &.button-danger {
            @apply 
            text-red-600
            hover:bg-red-200
        }

        &.button-info {
            @apply 
            text-blue-600
            hover:bg-blue-200
        }

    }

}